/*
Menu bar was adapted from these two tutorials - 
http://www.1stwebdesigner.com/css/create-a-responsive-website-video-tutorial/
http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu

*/
/*  ==============GLOBAL CSS STYLES===============
		
		TEXT STYLES */
		h1 {font-size: 32px; font-weight: bold; padding: .5em;}
		h2 {font-size: 24px; font-weight: bold;	padding: .4em;}
		h3 {font-size: 19px; font-weight: bold; padding: .3em;}
		h4 {font-size: 16px;; font-weight: bold; padding: .2em;}
		h5 {font-size: 13px; font-weight: bold; padding: .1em;}
		h6 {font-size: 11px; font-weight: bold; padding: .1em;}
		
			
	/* 	=======FORMATTING WRAPPER STYLES======== */
		
		#outer_header_wrapper{
		width: 100%;	
		}
		
		#outer_content_wrapper {
		width: 100%;		
		min-height: 400px;
		}
		
		#inner_content_wrapper {
		width: 1060px;
		margin: 0 auto;
		overflow: auto;
		background-color: #FFFFFF;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;  
	border: 2px solid #F36E21; 
		}
		
		#outer_footer_wrapper {
		
		width: 100%;		
		min-height: 400px;
		padding-top: 50px;
		
		}
		
		#main_content {
		width: 95%;
		margin: 0 auto 20px auto;
		padding: 1% 0%;
		min-height: 500px;
		}
		
		body {
			height: 100%;
			font-family: verdana,helvetica,arial,sans-serif;
			font-size: 13px;
			color: #404040;
			line-height:1.45;
			text-align:justify;
			background-image: url("../img/background.jpg");	
		}
		
		.clearfloats {
		    clear:both;
		}
/*  MAIN HEADER  --previous color -- #28475D --*/	
		#main_header {
			width: 1060px;
			margin: 0% auto;
			padding: 1% 0 0 0;
		}	
		#main_header nav {
			margin: 0.5% auto;
			font-size: 15px;
			height: 43px;
			text-align: center;
		}		
				
	#main_header nav ul {
	width: 100%;
	background: #3B5998; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;         
	list-style: none;
	position: relative;
	display: inline-table;
	}	
	
	#main_header nav p{
	width: 97%;
	background: #3B5998; 
	padding: 0 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;         
	height: 29px;
	color: #ffffff;
	padding-top: 4px;
	font-size: 15px;
		}	
	
	#main_header nav ul li{
		text-align: center;
		display: inline-block;
		}	

	#main_header nav ul li a {
		display: block; padding: 5px 22px;
		color: #FFFFFF; text-decoration: none;
		}	
	#main_header nav ul li:hover {
			background: #293E6A;
		}	
	#main_header nav ul li:hover a {
		color: #fff;
		}
	#main_header nav ul:after {
			content: ""; clear: both; display: block;
		}		
	#main_header nav ul li:hover > ul {
			display: block;
		}	
	#main_header nav ul ul {
		display: none;
		background: #293E6A; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
		width: 175px;
	}
	#main_header nav ul ul li {
			float: none; 
			border-left: none;
			font-size: 14px;
			position: relative;
			width: 175px;
		}
	#main_header nav ul ul li a {
				padding: 5px 20px;
				color: #fff;
			}				
	#main_header nav ul ul li a:hover {
					background: #003D99;
				}
	#main_header nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	
	
/* ======= GLOBAL TABLE STYLES ======== */		
/* Source: http://www.csstablegenerator.com/?table_id=3 */
.tabledefault {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.tabledefault table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabledefault tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.tabledefault table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.tabledefault table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.tabledefault tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.tabledefault tr:hover td{
	background-color:#ffffff;
}

.tabledefault td{
	vertical-align:middle;
	background-color:#d1e8ff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabledefault tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabledefault tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabledefault tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabledefault tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabledefault tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
}
.tabledefault tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabledefault tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
		/* ======= GLOBAL BUTTON STYLES ======== */
		
		 form input[type = "submit"], a button {
		 background: #627AAD; 
		     color: #FFFFFF;
		     font-style:italic;
		     border: 1px solid #ddd;
		     -moz-border-radius: 5px; 
		     -webkit-border-radius: 5px;
		 	 -o-border-radius: 5px;         
		     border-radius: 5px;
		   	 height: 25px;
		  	  margin-bottom: -1px;
		  	  vertical-align: bottom; 
		 }
		
		form input[type = "submit"]:hover, a button:hover {
				background-color: #293E6A; 
			}
			
		form input[type = "submit"]:active, a button:active {
				background-color: #FF0000; 
			}
	
		#main_footer p{
			text-align: center;
			font-family:"Times New Roman", Times, serif;
			color: red;	
			font-weight: bold;
		}
		
		#main_footer h4{
			text-align: center;
			font-weight: bold;
		}
		
		
		strong {
		    font-style: normal;
		    font-weight: bold;
		}
	
	 .centerBtn{
	 width: 60px;
	  }
/* =======LOGOUT======== */
		#logout p {
		color: #003D99;
		display: inline;
		font-size: 12px;
		margin-right: 4px; 
		font-weight: bold;  
		}
		
		#logout p strong {
		font-weight: bold;
		color: red;  
		}
		
		 #logout button {
		   	 width: 80px;
		    }

.mainPageHeading {
	color: #000055;
	}

/* =======INDEX PAGE CSS======== 
login form based on design found at: http://stackoverflow.com/questions/6106353/css-html-header-with-login-form
*/

	#inner_content_wrapperNoBorder {
		width: 1060px;
		margin: 0 auto;
		overflow: auto;
		background-color: #FFFFFF;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;  
		}
		
		#login, #logout, #returnHome {
		     float: right; 
		     margin-right: 30px; 
		     height: 40px; 
		     padding-top: 8px;
		     
		 }
		 
		 #login form label {
		     display: inline-block; 
		     margin: auto;
		     color: #3B5998;
		     font-weight:bold;
		 }
		 
		  
		 #login form #username, 
		 #login form #password {
		     display: block;
		     width: 150px;
		     border: 1px solid #eee;
		     -moz-border-radius: 5px;
		     -webkit-border-radius: 5px;
		 	 -o-border-radius: 5px;         
		     border-radius: 5px;
		     padding: 3px 0 3px 0;
		     margin-bottom: -1px;		     
		 }
		  
		 #login form input[type = "submit"] {
		     width: 60px;
		     height: 27px;     
		    }
		
		#login_error {
			width: 260px;
			margin: 0 auto;
			color: red;
			font-style:italic;
			padding: 3px 0 0 0;
		}	
			
 		#promotion_wraper {
			width: 925px;
			margin: 1% auto 5% auto;
						}	 
							
		#promotion_wraper img {	
			height:300px;
			width: 900px;
			}				


#welcomeText{
	margin: 0 50px;
}
#welcomeText p{
	margin-top: 15px;
}
#welcomeText strong, #regText h3{
	font-size: 22px;
	color: #005AA6;
}

#bulletTitle{
	font-size: 18px;
	color: #005AA6;
}

#siteDescription{
	width: 700px;
}
#siteDescription ul {
	margin-left: 30px;
}

#regImg{	
	float: right;			
	padding: 2%;

}	
/* =======MAIN FORM======== */

		.main_form {
			padding: 1% 0;
			background:#d2ddea url(../img/bg_form.png) repeat-x;
			
		     -moz-border-radius: 10px;
		     -webkit-border-radius: 10px;
		 	 -o-border-radius: 10px;    
		     border-radius: 10px;
		     font-color: #3B5998;  	     
		}	
		
		.main_form h2, .main_form h3 {  	
		text-align: center;
		color: #000000;	
		}
		
		.main_form form  {
		margin: 1% 0;
		} 
		
		 .submit {
		 text-align:center;
		} 
		
		.main_form label {
			font-size: 14px;
			color: #293E6A;
			font-weight: bold;
			display: inline-block;
			padding: 1% 0.7%;
			text-align:left;
			vertical-align: top;
		}
		
		.main_form input[type = "text"], .main_form input[type = "password"], .main_form input[type = "file"], .main_form input[type = "email"],.main_form textarea, .main_form select {
		padding: 1% 5px;
		     -moz-border-radius: 5px;
		     -webkit-border-radius: 5px;
		 	 -o-border-radius: 5px;    
		     border-radius: 5px;
		 border: none;
		 background-color: #FFFFFF;
		}
				
		.main_form input[type ="checkbox"] {
		cursor: pointer;
		}
		
		.main_form input[type = "submit"]	{
		margin-top: 2%;
		width: 100px;
		font-size: 14px;
		height: 30px;
		}
		
		.hiddenField{
		    text-align: center;
		    color: red;
		    padding: 1%;
		    -moz-border-radius: 15px;
		     -webkit-border-radius: 15px;
		 	 -o-border-radius: 15px;    
		     border-radius: 15px;
		     width: 95%;
		     margin: 0 auto 10px auto;
		}	
		
		.hiddenField p {
			font-size: 15px;
			font-weight: bold;
			font-style: normal;
			margin: 0 0 5px 0;
		
		}
	
/* =======REGISTRATION PAGE CSS======== */	
#regText{
	margin: 20px 75px 0 75px;
}
#regText p{
	margin: 0 10px;
}	
#registerForm {
	width: 60%;
	margin: 1% auto;
		border: 2px solid #F36E21; 
			     -moz-border-radius: 10px;
		     -webkit-border-radius: 10px;
		 	 -o-border-radius: 10px;    
		     border-radius: 10px;
}	
	
#registerForm.hiddenField {
	margin: 0 0 30px 0;
}		

#registerForm label{
	width: 200px;
}	
	
#registerForm input[type = "text"], #registerForm input[type = "password"], #registerForm input[type = "email"]{	
	width: 250px;
}

#registerForm select{	
	width: 262px;
}

#registerForm fieldset {
margin-left: 65px;
}	


/* ========	UPDATE USER PASSWORD CSS ========== */

.inline_form {
	width: 80%;
	margin: 1% auto 2% auto;
	text-align: center;
}

 .inline_form p {
	display: inline-block;
	margin: 0 8px;
	text-align: center;
	}
		
.inline_form input[type = "password"], .inline_form input[type = "text"] {	
	width: 200px;
	margin-right: 10px;
	height: 30px; 
	display: block;
	margin-top: 5px;
}

/* =======SEARCH PAGES CSS======== */

.searchForm {
	width: 80%;
	margin: 1% auto 2% auto;
	
}

.searchForm.hiddenField {
	margin: 0 0 30px 0;
}	

.searchForm fieldset {
	text-align: center;
}
	
.searchForm fieldset.bottom {
	margin: 20px 0;

}		

.searchForm label {
display: block;
text-align: center;
}	

.searchForm input[type = "text"], .searchForm select {
	margin-right: 10px;
	min-width: 200px;
	height: 30px; 
	display: block;
}

 .searchForm p {
	display: inline-block;
	margin: 0 18px;
	vertical-align: top;
	}

.searchResults table{
	margin: 0 auto;
}

.searchResults H4 {
	text-align: center;
}



/* =======ADMIN PAGE CSS======== */
		
		
.userdetails {
	margin-top: 10px;
}


#add_new_class input[type = "password"], #add_new_class input[type = "text"] {	
	width: 150px;
}


#editDetailsForm label {
	width: 250px;
}	

 #editDetailsForm input[type = "password"], #editDetailsForm input[type = "text"], #editDetailsForm input[type = "email"], #editDetailsForm select {	
	width: 250px;
}

/* =======HELP PAGES CSS======== */

.classdetails{
	width: 80%;
	margin: 0 auto;
}

.userdetails{
width: 90%;
margin: 0 auto;
}

#editDetailsForm {
	width: 70%;
	margin: 2% auto 3% auto; !important
}	

#editDetailsForm fieldset {
margin: 2% 7% 0 7%;
}	

#editDetailsForm.hiddenField {
	margin: 0 0 30px 0;
}	
	
#editDetailsForm p {
	margin: 5px 0;
	}
	
	
/* =======HOME PAGE CSS======== */
		
		
#siteContent {
	 text-align: center;
	 width: 1000px;
	 margin: 5px auto;
	 border: none;
}

#siteContent table{
border: none;
font-size: 13px;
}

#siteContent .column1, #siteContent .column2, #siteContent .column3,  #siteContent .description{
width: 333px;
border: none;
padding: 5px 15px;
}

#siteContent .description{
	text-align: justify;
	}
	
#siteContent table tr{
border: none;
}

#siteContent p{
font-size: 18px;
font-weight: bold;
color: #FF3300;
}

#siteContent .addSpace td{
height: 10px;
border: none;
}

.acceptableFiles{
width: 70%;
margin: 0 auto;
}



/* =======STUDY ADVICE PAGE CSS======== */
.pdf {
	margin: 20px auto;
	text-align: center;
}

#studyResources{
width: 80%;
margin: 10px auto;
}

/* =======CHATROOM======== */

.iframe{
margin-bottom: 180px;
}

