/** Minimal stand-alone css for dropdownchecklist support
    We highly recommend using JQuery ThemeRoller instead  
*/
.ui-dropdownchecklist {
	font-size: 13px;
	font-color: #000;  
    font-weight: normal;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   	
}
.ui-dropdownchecklist-selector {
	border: 1px solid #ddd;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;    
	border-radius: 5px;
	font-color: #000; 
	padding-left: 10px !important;
	padding-top: 7px !important;
	line-height: 15px;
}

.ui-state-hover, .ui-state-active {
	
}
.ui-dropdownchecklist-dropcontainer {
	background-color: #fff;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;    
	border-radius: 5px;
	padding-left: 5px; 
}
.ui-dropdownchecklist-item label{
	color: #000 !important;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: normal !important;
}
.ui-state-hover {
	background-color: #39f;
}
.ui-state-disabled label {
}
.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
}
.ui-dropdownchecklist-indent {
	padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	font-size: 0px;
}
.ui-dropdownchecklist-selector {
	padding: 1px 2px 2px 2px;
	font-size: 0px;
}
.ui-dropdownchecklist-text {
	font-size: 14px;
	line-height: 18px;
}
.ui-dropdownchecklist-group {
	padding: 1px 2px 2px 2px;
	
}
