/* UNSLIDER CSS -Source: http://unslider.com/style.css */


.banner *  {
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.banner {
	position: relative;
	
	overflow: automatic;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	
	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	
	
	
	margin: 0 0 20px 5px;
	padding: 0;
	
}
	.banner ul {
		list-style: none;
		width: 550px;
			margin: 0;
	padding: 0;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		padding: 160px 0 110px;
		overflow: hidden;
		height: 300px;
/*		-webkit-background-size: 100% 100%;*/
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
/*		background-size: 100% 100%;*/	
		box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		-o-border-radius: 50px;         
		border-radius: 50px;
		
		
		
	}
	
	
	.banner h1, .banner h2 {
		font-size: 30px;
		line-height: 20px;
		font-weight: 300;
	font-family: bree-web, Bree, sans-serif;
		color: #fff;
			margin-bottom: 10px;
	padding: 0;
	}
	
		
	.banner .btn, .banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
	
	.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #fff;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .4;
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #fff;
				opacity: 1;
			}
